﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  @Zone(Region.Header)
</div>

<div class="row">
    <div class="col-md-4">
        @Zone(Region.TripelFirst)
    </div>
    <div class="col-md-4">
        @Zone(Region.TripelSecond)
    </div>
    <div class="col-md-4">
        @Zone(Region.TripelThird)
    </div>
</div>

@HttpContext.Current.Request.ServerVariables["HTTP_HOST"]
